/* .test{
    background-color: red;
} */

/* .salam{
    background-color: blue;
} */

/* .active-head{
    background-color: green;
    color: white;
    border: 1px solid red;
    padding: 10px;
}

.inActive-head{
    background-color: blue;
    color: white;
    border: 1px solid red;
    padding: 10px;
} */